[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
	branch = release-0.25
[submodule "grammars/tree-sitter-devicetree"]
	path = grammars/tree-sitter-devicetree
	url = https://github.com/joelspadin/tree-sitter-devicetree.git
	branch = main
[submodule "grammars/tree-sitter-kconfig"]
	path = grammars/tree-sitter-kconfig
	url = https://github.com/tree-sitter-grammars/tree-sitter-kconfig.git
	branch = master
[submodule "grammars/tree-sitter-java"]
	path = grammars/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
	branch = master
[submodule "grammars/tree-sitter-c"]
	path = grammars/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
	branch = master
